{% extends 'base.html' %}

{% block content %}
<h1 class="style_heading__ZmEnf Heading_module_container__7b355c09 Heading_module_level1__7b355c09">
    География</h1>
<h2>Уровень зарплат по городам (C# разработчик)</h2>
<div class="statistic-flex">
    <div>{{ salary_table|safe }}</div>
    {% if salary_img.url is not None %}
    <img src="{{ salary_img.url }}" alt="">
    {% endif %}
</div>

<h2>Доля вакансий по городам (C# разработчик)</h2>
<div class="statistic-flex">
    <div>{{ vacancy_table|safe }}</div>
    {% if vacancy_img.url is not None %}
    <img src="{{ vacancy_img.url }}" alt="">
    {% endif %}
</div>
{% endblock %}