{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="style_heading__ZmEnf Heading_module_container__7b355c09 Heading_module_level1__7b355c09">
    Общая статистика</h1>
    <div>
        <div>
            <div>

                <div>
                    {% if salary_chart.url is not None %}
                    <img src="{{ salary_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ salary_data|safe }}</div>
                </div>

                <div>
                    {% if vacancy_chart.url is not None %}
                    <img src="{{ vacancy_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ vacancy_data|safe }}</div>
                </div>

                <div>
                    {% if city_salary_chart.url is not None %}
                    <img src="{{ city_salary_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ city_salary_data|safe }}</div>
                </div>

                <div>
                    {% if city_vacancy_share_chart.url is not None %}
                    <img src="{{ city_vacancy_share_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ city_vacancy_share_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2015_chart.url is not None %}
                    <img src="{{ top_skills_2015_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2015_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2016_chart.url is not None %}
                    <img src="{{ top_skills_2016_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2016_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2017_chart.url is not None %}
                    <img src="{{ top_skills_2017_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2017_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2018_chart.url is not None %}
                    <img src="{{ top_skills_2018_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2018_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2019_chart.url is not None %}
                    <img src="{{ top_skills_2019_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2019_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2020_chart.url is not None %}
                    <img src="{{ top_skills_2020_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2020_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2021_chart.url is not None %}
                    <img src="{{ top_skills_2021_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2021_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2022_chart.url is not None %}
                    <img src="{{ top_skills_2022_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2022_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2023_chart.url is not None %}
                    <img src="{{ top_skills_2023_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2023_data|safe }}</div>
                </div>

                <div>
                    {% if top_skills_2024_chart.url is not None %}
                    <img src="{{ top_skills_2024_chart.url }}" alt="">
                    {% endif %}
                    <div>{{ top_skills_2024_data|safe }}</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}